.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: var(--shadow-md);
  z-index: 1;
  border-radius: var(--radius-md);
  padding: var(--padding-sm);
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
  right: 0;
  top: 100%;
  margin-top: var(--gap-xs);
}

.dropdownButton {
  width: 100%;
  text-align: left;
  padding: var(--padding-md) var(--padding-lg);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  color: var(--color-text);
  background: none;
  border: none;
  cursor: pointer;
  border-radius: var(--radius-sm);
  transition: var(--transition-bg);
}

.dropdownButton:hover {
  background-color: var(--color-gray);
}
