.wrapper {
  animation: fadeIn 0.8s ease;
  padding: var(--padding-2xl);
  border-radius: var(--radius-lg);
  background: var(--color-white);
  box-shadow: var(--shadow-sm);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  color: var(--color-primary);
  font-family: var(--font-main);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--gap-md);
}

.actions {
  display: flex;
  gap: var(--gap-xs);
}

.icon {
  width: 30px;
  height: 30px;
}

.showMoreBlock {
  display: flex;
  justify-content: center;
  margin-top: var(--gap-md);
}
