.header {
  position: sticky;
  top: 0;
  z-index: var(--z-index-header);
  background: var(--color-white);
  box-shadow: var(--shadow-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-lg);
  height: var(--header-height);
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-lg);
  gap: var(--gap-md);
}

.headerNav {
  display: flex;
}

.headerTitle {
  font-size: 20px;
  font-weight: var(--font-weight-semibold);
}

.avatar,
.logo {
  width: 40px;
  height: 40px;
  border-radius: var(--radius-avatar);
}

.navButton {
  height: 4rem;
  transform: skewX(-20deg);
  padding: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0;
}

.navButton:active:not(:disabled) {
  transform: skewX(-20deg);
}

.homeLink {
  display: contents;
}
