.transferContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.04);
  max-width: 40rem;
  margin: 2rem auto;
}

.conversionSection {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.inputGroup {
  display: flex;
  align-items: center;
  border: none;
  font-size: 1.125rem;
}

.input {
  padding: 0.75rem 1rem;
  border: none;
  outline: none;
  font-size: inherit;
  color: var(--color-text);
  border: 1px solid var(--color-gray);
  width: 50%;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.inputGroup .input:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: -2px;
}

.inputGroup select {
  padding: 0.75rem 1rem;
  border: none;
  outline: none;
  background: #fff;
  font-size: inherit;
  color: var(--color-text);
  cursor: pointer;
  max-width: 50%;
  background-image: url('../../assets/icons/arrowIcon.svg');
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 20px;
  border: 1px solid var(--color-gray);

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.inputGroup select:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: -2px;
}

.swapButtonContainer {
  display: flex;
  justify-content: center;
}

.swapButton {
  background: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.swapButton:hover {
  background: #4f46e5;
}

.swapButton svg {
  width: 1.5rem;
  height: 1.5rem;
}

.result {
  text-align: center;
  font-size: 1rem;
  color: var(--color-text);
  font-weight: 500;
  margin-top: 1rem;
}

.disabled {
  text-align: center;
  font-size: 1rem;
  color: var(--color-danger);
  font-weight: 500;
  margin-top: 1rem;
}

.conversionRate {
  padding: 0.75rem 1rem;
  width: 50%;
  border: 1px solid var(--color-gray);
}

.errorHeader {
  color: var(--color-danger);
}

.loadingContainer {
  justify-content: center;
  align-items: center;
}
